<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/geog469/">Home</a></li>
			<li><a href="/geog469/exec">Executive Summary</a></li>
	        	<li><a href="/geog469/bgrd">Background and Problem Statement</a></li>
        		<li><a href="/geog469/sysreq">System Requirements</a></li>
        		<li><a href="/geog469/benecost">Benefit-Cost</a></li>
			<li><a href="/geog469/dataac">Data Acquisition</a></li>
			<li><a href="/geog469/dataan">Data Analysis Strategy</a></li>
			<li><a href="/geog469/results">Discussion of Results</a></li>
			<li><a href="/geog469/conclusion">Summary, Conclusions, and Recommendations</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    			<ul>
        		<li>Copyright Wendy Liang 2018</li>
			</ul>
		</footer>
	</body>
</html>
