<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/geog469/">Home</a></li>
	        	<li><a href="/geog469/bgrd">Background and Problem Statement</a></li>
				<li><a href="/geog469/results">Discussion of Results</a></li>
				<li><a href="/geog469/conclusion">Conclusions and Recommendations</a></li>
				<li><a href="/geog469/cite">Sources and References</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    			<ul>
        		<li>Copyright US Distribution of Police Involved Fatalities 2018</li>
			</ul>
		</footer>
	</body>
</html>
